img {
max-width: 100%;
height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
}

.about {
  max-width: 40em;
  margin-left: auto;
  margin-right: auto;
}

h2 {
text-align: center
}

.grid-image {
    display: grid;
    grid-template-columns: auto;
  }

@media (min-width: 30em) {
  
  .grid-image {
    display: grid;
    grid-template-columns: auto auto auto;
  }
body {
  font-size: 125%}
}
