  img {
max-width: 100%;
height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
}

body {
  font-size: 100%}

h2 {
text-align: center
}

.grid-image {
    display: grid;
    grid-template-columns: auto;
  }

@media (min-width: 40em) {
  
  .grid-image {
    display: grid;
    grid-template-columns: auto auto auto;
  }
  
  .about {
  max-width: 40em;
  margin-left: auto;
  margin-right: auto;
}
  
  body {
  font-size: 125%}
}
